@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h1>@ViewBag.Message</h1>

<p>Gutr is a social media platform where users can share special items they find on the Internet. It could be a hot deal on Amazon or a favorite book or a new Youtube upload. When users share, the post will most likely include a link to the item or a picture of the item accompanied by the user's comment or description.</p>


